<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>GreenIT</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/index.css'>
</head>
<body>
    <header>
        <%- include('../components/header') %>
    </header>

    <main>
        <h1>Questionnaire Empreinte carbone</h1>
        <div id="nameInputSection">
            <h2>Veuillez entrer votre nom :</h2>
            <input type="text" id="username" placeholder="Votre nom" required />
            <button id="startQuizBtn" class="card btn">Commencer le quizz</button>
        </div>

        <div id="quizSection" style="display:none;">
            <!-- Contenu du quiz ici -->
        </div>
        
        
        <div id="quiz-main">
            <% questions.forEach(q => { %>
                <h2 class="q-title">Question n°<%= q.id %> <%= q.type === 'UNI' ? '(Réponse unique)' : '' %></h2>
                <p class="q-description"> <%= q.question %></p>
                <div class="answer-box">
                    <% if (q.type == 'Y/N')  { %>
                        <div class="binary-q" id=<%= `q-${q.id}` %>>
                            <button class="card btn" onclick="selectAnswer(event, '<%= q.id %>', '<%= q.type %>')" valeur="<%= q.options[0] %>">Oui</button>
                            <button class="card btn" onclick="selectAnswer(event, '<%= q.id %>', '<%= q.type %>')" valeur="<%= q.options[1] %>">Non</button>
                        </div>
                    <% } else if (q.type == 'QCM') { %>
                        <div class="qcm-q" id=<%= `q-${q.id}` %>>
                            <% q.options.forEach(opt => { %>
                                <button class="answer-btn card btn" onclick="selectAnswer(event, '<%= q.id %>', '<%= q.type %>')" valeur="<%= opt[1] %>"> <%= opt[0] %> </button>
                            <% }) %>
                        </div>
                    <% } else { %>
                        <div class="uni-q" id=<%= `q-${q.id}` %>>
                            <% q.options.forEach(opt => { %>
                                <button class="answer-btn card btn" onclick="selectAnswer(event, '<%= q.id %>', '<%= q.type %>')" valeur="<%= opt[1] %>"> <%= opt[0] %> </button>
                            <% }) %>
                        </div>
                    <% } %>
                </div>
            <% }) %>
            <hr />
            <button id="result-button" class="card btn" onclick="showResults()">Voir mon résultat</button>
        </div>
        <div id="resultat" class="hidden">
            <div class="resultat-container">
                <h2>Bilan de votre empreinte carbone</h2>
                <p>Notre quiz vous a attribué un impact carbone de <strong><span id="score">0</span>/<%= empreinteMax %></strong> <span class="italic">(unité arbitraire)</span></p><br />
                
                <div class="resultat-conseils">
                    <h3>Voici nos conseils pour le réduire :</h3>
                    <ul>
                        <li>🚲 Privilégiez le vélo ou la marche pour les trajets courts</li>
                        <li>🍽️ Réduisez le gaspillage alimentaire</li>
                        <li>🔋 Gardez vos appareils électroniques plus longtemps.</li>
                        <li>🍏 Optez pour des produits locaux et de saison</li>
                        <li>♻️ Recyclez les appareils électroniques obsolètes.</li>
                    </ul>
                    <div id="resultButtons" style="text-align:center;">
                        <button id="downloadStatsBtn" class="card btn">Télécharger mes résultats</button>
                        <button id="restartQuizBtn" class="card btn" onclick="restartQuiz()">Recommencer le quiz</button>
                </div>
            </div>
        </div>
        
    </main>

    <footer>
        <%- include('../components/footer') %>
    </footer>
    <script src='main.js'></script>
</body>
</html>
